* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    color:rgb(121, 245, 228);
}

.main-wrapper {
        background-image: url('../images/main_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        display: grid;
        grid-template-rows: 90px 1fr 80px;
}

header,
footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    justify-content: space-between;
}

.site-title,
.nav-links {
    display: inline-flex;
    align-items: center;
    margin: 0 20px;
}

.nav-link,
.title-text {
    margin-left: 25px;
}

.title-text {
    font-size: 3rem;
    font-weight: 700;
}

.nav-link {
    font-size: 1.3rem;
}

.nav-link:hover {
    cursor: pointer;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 600px;
    height: 600px;
    margin: auto auto;
    border-radius: 20px;
}

/* Opponent selection styles */
.ready-game {
    display: grid;
    place-items: center;
    font-weight: 700;
}

.select-opponent,
.select-symbol {
    width: 500px;
    height: 150px;
    font-size: 1.8rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.opponent-btns {
    display: flex;
    width: 420px;
    justify-content: space-between;
    /* animation: fadeOut 1s ease-in forwards; */
}

.opponent-btn {
    background-image: url('../images/button_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 180px;
    height: 72px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

.opponent-btn:hover {
    box-shadow: 1px 1px 8px 0 rgba(0, 38, 255, 0.7);
    cursor: pointer;
}

.opponent-btn:active {
    scale: 0.97;
}

/* Start player symbol selection */
.symbol-btns {
    display: flex;
    width: 420px;
    justify-content: space-around;
}

.blue-symbol {
    background-image: url('../images/game_piece_blue.png');
}

.red-symbol {
    background-image: url('../images/game_piece_red.png');
}

.symbol-btn {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: grid;
    border-radius: 50%;
}

.symbol-btn:hover {
    cursor: pointer;
}

.blue-symbol:active {
    scale: 0.97;
    box-shadow: 0 0 12px 0px rgb(0, 195, 255);
}

.red-symbol:active {
    scale: 0.97;
    box-shadow: 0 0 12px 0px red;
}

/* Game board styles*/
.game-board {
    background-image: url('../images/game_board_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 150px;
    justify-content: center;
    align-content: center;
}

.board-cover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    height: 500px;
    display: block;
}

.play-square {
    background-image: url('../images/game_play_square.png');
    background-size: contain;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.play-square:hover {
    box-shadow: 0px 0px 20px 5px rgb(163, 249, 255) inset;
    cursor: pointer;
}

.play-square:active {
    scale: 0.97;
    cursor: pointer;
}

.player-symbol{
    width: 120px;
    height: 120px;
    background-size: contain;
}

.red-player {
    background-image: url('../images/game_piece_red.png');
    border-radius: 50%;
    box-shadow: 0 0 12px 0px red;
}

.blue-player {
    background-image: url('../images/game_piece_blue.png');
    border-radius: 50%;
    box-shadow: 0 0 12px 0px rgb(0, 195, 255);
}


.vs-msg {
    font-size: 2rem;
    display: none;
}

footer {
    justify-content: center;
    align-items: center;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes scaleAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}